/*This file is part of Cosmic-comics.

Cosmic-Comics is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Cosmic-Comics is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Cosmic-Comics.  If not, see <https://www.gnu.org/licenses/>.*/
:root {
    --squarePP: 7vw;
    --averageScore: 0;
}

[class^=ribbon-] {
    position: relative;
    top: 10px;
}

[class^=ribbon-]:before, [class^=ribbon-]:after {
    content: "";
    position: absolute;
}

.ribbon-1 {
    width: 20px;
    height: 40px;
    background: #c42929;
    top: -270px;
    left: 220px;
}

.ribbon-1:before {
    height: 0;
    width: 0;
    border-bottom: 6px solid #c42929;
    border-right: 6px solid transparent;
    right: -6px;
}

.ribbon-1:after {
    height: 0;
    width: 0;
    border-left: 10px solid #c42929;
    border-right: 10px solid #c42929;
    border-bottom: 10px solid transparent;
    bottom: -10px;
}

.ribbon-2 {
    width: 20px;
    height: 40px;
    background: #ee583a;
    top: -270px;
    left: 220px;
}

.ribbon-2:before {
    height: 0;
    width: 0;
    border-bottom: 6px solid #ca3011;
    border-right: 6px solid transparent;
    right: -6px;
}

.ribbon-2:after {
    height: 0;
    width: 0;
    border-left: 10px solid #ee583a;
    border-right: 10px solid #ee583a;
    border-bottom: 10px solid transparent;
    bottom: -10px;
}

html {
    /*background: linear-gradient(227deg, #1f307c, #251f52, #222f72);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 14s ease infinite;
    -moz-animation: AnimationName 14s ease infinite;
    -o-animation: AnimationName 14s ease infinite;
    animation: AnimationName 14s ease infinite;*/
    background: var(--background);
    background-size: var(--HTMLBGSize);
    background-attachment: fixed;
    color: var(--text);
    --speed: 0.65s;
    transition: background-color 1s;
    scroll-behavior: smooth;
}

body {
    transition: background-color 1s;
}

a {
    text-decoration: none;
}

/* Display elements */
.cards-list {
    z-index: 0;
    margin-left: 15vw;
    margin-top: 125px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: margin-left .5s ease;
}

.cards-list2, #resultRematch {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item-list {
    z-index: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: scroll;
    transition: transform 0.65s ease-in-out;
}

.item-list::-webkit-scrollbar {
    display: none;
}

.feedback {
    background-color: transparent;
    border-radius: 8px;
    align-items: center;
}

.rating {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
    flex-wrap: wrap;
    align-content: flex-start;
}

.rating-0 {
    filter: grayscale(100%);
}

.rating > input {
    display: none;
}

.rating > label {
    cursor: pointer;
    width: 25px;
    height: 75px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
    text-align: center;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: -25px;
    left: 140px;
}

.emoji-wrapper:before,
.emoji-wrapper:after {
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
}

.emoji-wrapper:before {
    top: 0;
}

.emoji-wrapper:after {
    bottom: 0;
}

.emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.emoji > svg {
    margin: 15px 0;
    width: 50px;
    height: 105px;
    flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-140px);
}

#rating-2:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-275px);
}

#rating-3:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-410px);
}

#rating-4:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-545px);
}

#rating-5:checked ~ .emoji-wrapper > .emoji {
    transform: translateY(-680px);
}

/* Cosmic Comics logo */
.logo {
    display: block;
    width: 300px;
    height: 450px;
    background-repeat: no-repeat;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    background-size: contain;
    background-position: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(500px);
    transform: perspective(500px);
    margin-bottom: 150px;
}

.logo > span {
    position: relative;
    display: block;
    -webkit-transform: translateZ(50px) scale(0.7);
    transform: translateZ(50px) scale(0.7);
    margin: 10px;
    padding-top: 20px;
}

.logo > span:after {
    content: "";
    position: absolute;
    font-size: 18px;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    transition: 0.3s ease all;
}

.logo > span:before {
    content: "";
    position: absolute;
    font-size: 18px;
    top: 36px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    opacity: 0;
    display: inline-block;
    width: 100%;
    transition: 0.3s ease all;
}

.logo:hover > span:after {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
}

.logo:hover > span:before {
    opacity: 0.8;
    transform: translateX(-50%);
}

.logo > span > span {
    display: block;
    font-size: 18px;
}

img {
    image-rendering: initial;
}

.SpaceX {
    margin: 100px;
}

#overlay {
    position: fixed;
    display: none;
    width: calc(100vw - 15vw);
    height: calc(100vh - 62px);
    top: 62px;
    left: 16vw;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: var(--overlayBG);
    transition: left .5s ease;
}

#overlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    background-color: var(--overlay2BG);
}

.rotate {
    animation: rotation 10s;
}

.linear {
    animation-timing-function: linear;
}

.infinite {
    animation-iteration-count: infinite;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    height: 100%;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    background-size: 100%;
}

.layer {
    background-color: var(--layer);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    text-align: center;
    margin-top: 60px;
    position: relative;
    left: 0;
    right: 0;
    z-index: 3;
    margin-left: 20px;
    margin-right: 20px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.btnw:hover {
    background-color: var(--topBtnHover);
}

ul:not(.browser-default) > li {
    list-style-type: none;
}

ul.staggered-list li {
    opacity: 0;
}

ul li {
    float: left;
    padding: 0 0 0;
    margin: 0 0px 3px;
    cursor: pointer;
}

a {
    color: var(--line-color);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    background-color: var(--color-bg-secondary); /* Black background color */
    min-width: 100%;
    color: var(--text); /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10; /* Add a z-index if needed */
    bottom: 30px; /* 30px from the bottom */
}

/*!* Show the snackbar when clicking on a button (class added with JavaScript) *!
#snackbar.show {
    visibility: visible; !* Show the snackbar *!
    !* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds *!
    !*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;*!
    animation: bounceInUp 1s, bounceOutDown 1s 2.5s;
    !*animation: fadein 0.5s, fadeout 0.5s 2.5s;*!
}*/
.snack_container {
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.snack_rectangle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    background: #380848;
    transform: scale(0);
    border-radius: 50%;
    color: white;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: scale-in 0.3s ease-out forwards, expand 0.3s 0.6s ease-out forwards;
    animation: scale-in 0.3s ease-out forwards, expand 0.3s 0.6s ease-out forwards;
}

.snack_notification {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    -webkit-animation: fade-in 0.65s ease-in forwards;
    animation: fade-in 0.65s ease-in forwards;
}

@-webkit-keyframes scale-in {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes expand {
    50% {
        width: 45vw;
        border-radius: 6px;
    }
    100% {
        width: 40vw;
        border-radius: 4px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
    }
}

@keyframes expand {
    50% {
        width: 45vw;
        border-radius: 6px;
    }
    100% {
        width: 40vw;
        border-radius: 4px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -1px rgba(0, 0, 0, 0.12);
    }
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.SideBar_current {
    background-color: var(--sideBar);
}

.rating-css {
    cursor: pointer;
    height: 30px;
    font-size: 0;
    margin-bottom: 15px;
}

.rating-css input {
    display: none;
}

.rating-css input + label {
    text-align: center;
    font-size: 24px;
    color: var(--ratingColor);
    cursor: pointer;
}

.rating-css input:checked + label ~ label {
    color: var(--ratingBG);
}

.rating-css.hover-effect input:checked + label ~ label,
.rating-css.hover-effect:hover input:hover + label ~ label {
    opacity: 0.5;
}

.rating-css.hover-effect:hover input + label ~ label {
    opacity: 1;
}

@keyframes zoom {
    from {
        object-position: 0 50%;
    }
    to {
        object-position: 100% 50%;
    }
}

@keyframes blur {
    from {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(1.5, 1.5);
        transform: scale(2, 2);
    }
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0.005rem;
    -webkit-font-smoothing: subpixel-antialiased;
}

.cardcusto {
    position: relative;
    grid-area: card;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 250px;
    height: 380px;
    border-radius: 8px;
    box-shadow: 0 16px 60px var(--cardCustoShadow);
    transition: all var(--speed) ease;
    margin: 20px;
}

.cardcusto:hover {
    box-shadow: 0 40px 130px var(--cardCustoShadowHover);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.card__save {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    opacity: 0;
    border-radius: 3px;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    z-index: 2;
}

.card__save:focus {
    outline: 0;
    background-color: var(--DisabledColor);
}

.cardcusto:hover .card__save {
    opacity: 0.6;
}

.card__save i {
    font-size: 24px;
    color: var(--DisabledColor);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card__save:hover i {
    color: var(--saveActivedColor);
}

.card__save:active i,
.card__save.active i {
    color: var(--saveActivedColor);
}

.card__close {
    position: absolute;
    top: 10px;
    right: 40px;
    display: block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    opacity: 0;
    border-radius: 3px;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    z-index: 2;
}

.card__close:focus {
    outline: 0;
    background-color: var(--DisabledColor)
}

.cardcusto:hover .card__close {
    opacity: 0.6;
}

.card__close i {
    font-size: 24px;
    color: var(--DisabledColor);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card__close:hover i {
    color: var(--saveActivedColor)
}

.card__close:active i,
.card__close.active i {
    color: var(--saveActivedColor)
}

.card__reading {
    position: absolute;
    top: 10px;
    right: 80px;
    display: block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    opacity: 0;
    border-radius: 3px;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    z-index: 2;
}

.card__reading:focus {
    outline: 0;
    background-color: var(--DisabledColor);
}

.cardcusto:hover .card__reading {
    opacity: 0.6;
}

.card__reading i {
    font-size: 24px;
    color: var(--DisabledColor);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card__reading:hover i {
    color: var(--color-orange)
}

.card__reading:active i,
.card__reading.active i {
    color: var(--color-orange)
}

.card__read {
    position: absolute;
    top: 10px;
    right: 120px;
    display: block;
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    opacity: 0;
    border-radius: 3px;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    z-index: 2;
}

.card__read:focus {
    outline: 0;
    background-color: var(--color-green)
}

.cardcusto:hover .card__read {
    opacity: 0.6;
}

.card__read i {
    font-size: 24px;
    color: var(--DisabledColor);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card__read:hover i {
    color: var(--color-green)
}

.card__read:active i,
.card__read.active i {
    color: var(--color-green)
}

.card__play {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0;
    opacity: 0;
    border-radius: 3px;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    z-index: 2;
}

.card__play:focus {
    outline: 0;
    background-color: var(--DisabledColor)
}

.cardcusto:hover .card__play {
    opacity: 0.6;
}

.card__play i {
    font-size: 40px;
    color: var(--DisabledColor);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.card__play:hover i {
    color: var(--DisabledColor)
}

.card__play:active,
.card__play.active {
    opacity: 1 !important;
}

.card__play:active i,
.card__play.active i {
    color: var(--text);
}

.card__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: var(--cardImageColor);
}

.card__image img {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1, 1);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.cardcusto:hover .card__image img {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.1;
}

.card__header {
    display: grid;
    width: 100%;
    height: 200px;
}

.card__profile {
    align-self: center;
    justify-self: center;
    display: block;
    overflow: hidden;
    width: 10vmax;
    height: 10vmax;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.card__profile img {
    -webkit-transform: scale(1.5, 1.5) translateZ(0);
    transform: scale(1.5, 1.5) translateZ(0);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
    filter: grayscale(50%) contrast(75%) brightness(1.3);
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    mix-blend-mode: normal;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardcusto:hover .card__profile img {
    -webkit-transform: scale(1, 1) translateZ(0);
    transform: scale(1, 1) translateZ(0);
}

.card__body {
    display: grid;
    padding: 100px 20px;
}

.card__name {
    align-self: center;
    justify-self: center;
    margin-bottom: 2px;
    color: white;
    letter-spacing: 0.1rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 1px 2px var(--cardCustoShadow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.cardcusto:hover .card__name {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__bio {
    position: relative;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    display: block;
    margin: 22px 0 16px 0;
    color: var(--text);
    opacity: 0;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
}

.cardcusto:hover .card__bio {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

.fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}

#contentViewer {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Black background with opacity */
    z-index: 4;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: initial;
    /* Add a pointer on hover */
    overflow-y: scroll;
    background: var(--background);
    transition: background-color 1.5s linear;
    transition-delay: 1s;
}

.contentFade {
    /*    opacity: 0;*/
}

#imageBGOV2 {
    position: fixed;
    opacity: 1;
    filter: blur(400px) brightness(0.5);
    -webkit-filter: blur(400px) brightness(0.5);
    -moz-filter: blur(400px) brightness(0.5);
}

.onContentViewer {
    position: absolute;
    width: 100%;
    height: auto;
}

#ColTitle {
    color: var(--text);
    background-color: transparent;
    font-family: 'Roboto-condensed', sans-serif;
    font-size: 2rem;
    text-align: left;
    margin-left: 45vw;
    margin-right: 2vw;
    margin-top: 14vh;
    transition: margin-left .5s ease;
}

#ColCover > img {
    width: 20vw;
    height: auto;
    margin-left: 20vw;
    transition: margin-left .5s ease;
}

#ColCover {
    position: absolute;
    top: 15vh;
}

#endDate, #startDate {
    font-weight: bold;
}

#id, #averageProgress, #OriginCountry, #startDate, #description, #endDate, #Trending, #genres, #chapters, #btnsActions, .Ratecontainer, #price, #Volumes, #readstat, #readAdd {
    color: var(--text);
    margin-left: 45vw;
    margin-right: 2vw;
    margin-top: 2vh;
    transition: margin-left .5s ease;
}

#btnsActions > a > i {
    color: var(--text);
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 50%;
    transition: background-color .2s linear;
}

#btnsActions > a > i:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

#readAddInput {
    background-color: transparent;
    color: white;
    text-align: right;
}
input[type=text]{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: left;
    width: 100%;
    height: 31px;
    font-size: 21px;
}
label{
    width: 100%;
}

#SiteURL, #Staff, #OtherTitles, #characters, #relations {
    color: var(--text);
    margin-left: 20vw;
    margin-right: 2vw;
    margin-top: 2vh;
    transition: margin-left .5s ease;
}

#ContentView {
    margin-left: 20vw;
    transition: margin-left .5s ease;
}

.releasing {
    position: relative;
    left: 45vw;
    max-width: fit-content;
    color: var(--text);
    background-color: var(--color-orange);
    padding: 5px;
    border-radius: 6px;
    margin-top: 10px;
    transition: left .5s ease;
}

.released {
    color: var(--text);
    background-color: var(--color-green);
    position: relative;
    left: 45vw;
    max-width: fit-content;
    padding: 5px;
    border-radius: 6px;
    margin-top: 10px;
    transition: left .5s ease;
}

.pointR {
    position: relative;
    left: 229px;
    max-width: fit-content;
    color: var(--text);
    background-color: var(--color-red);
    padding: 19px;
    border-radius: 20px;
    margin-top: 10px;
    top: -280px;
}

.pointY {
    position: relative;
    left: 229px;
    max-width: fit-content;
    color: var(--text);
    background-color: var(--color-orange);
    padding: 19px;
    border-radius: 20px;
    margin-top: 10px;
    top: -280px;
}

.released.favorite {
    background: linear-gradient(to right, var(--color-green) 33%, var(--color-red));
}

.releasing.favorite {
    background: linear-gradient(to right, var(--color-orange) 60%, var(--color-red));
}

a[href^="http://marvel.com"] {
    color: var(--text);
}

.NotYet {
    color: white;
    background-color: var(--color-red);
    position: relative;
    left: 45vw;
    max-width: fit-content;
    padding: 5px;
    border-radius: 6px;
    margin-top: 10px;
    transition: left .5s ease;
}

/* scrollbar custom*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--snackBarTrack);
}

::-webkit-scrollbar-thumb {
    background: var(--snackBarThumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--snackBarThumbHover);
}

.circle-small {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 20px;
}

.circle-small svg {
    width: 80px;
    height: 80px;
}

.circle-small .bg {
    fill: none;
    stroke-width: 6px;
    stroke: var(--ProgressBG);
}

.circle-small .progress {
    fill: none;
    stroke-width: 6px;
    stroke: var(--ProgressFG);
    stroke-linecap: round;
    stroke-dasharray: 232.36;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.circle-small .progress.one {
    stroke-dashoffset: var(--averageScore);
    animation: one 2.5s ease-in-out, appear 1s;
}

.circle-small .progress.two {
    stroke-dashoffset: 140;
    animation: two 3.5s ease-in-out, appear 2s;
}

.circle-small .text {
    position: absolute;
    width: 100%;
    top: 26px;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
}

.circle-small .text .small {
    font-size: 12px;
    color: var(--text);
}

@keyframes one {
    from {
        stroke-dashoffset: 232.36;
    }
    to {
        stroke-dashoffset: var(--averageScore);
    }
}

@keyframes appear {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.libbtn {
    width: 100%;
    border-color: transparent;
    background-color: transparent;
}

.libbtn:hover {
    border-color: transparent;
    background-color: var(--libHover);
    color: var(--text);
}

.libmenu {
    border-color: transparent;
    background-color: transparent;
    float: right;
}

.libmenu:hover {
    border-color: transparent;
    background-color: var(--libHover);
    color: var(--text);
}

.img-charac {
    /* Circle profil picture with both rectangle and square*/
    max-height: var(--squarePP);
    max-width: var(--squarePP);
    width: var(--squarePP);
    height: var(--squarePP);
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.spinner {
    font-size: calc(var(--spinner-size) * 1em);
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.spinner .line {
    fill: none;
    stroke: var(--line-color);
    stroke-width: var(--ring-size);
    opacity: var(--line-alpha);
    stroke-linecap: round;
    transform-origin: 50% 50%;
    transform: rotate3d(0, 0, 1, 0deg);
    animation: 2156ms spinner-arc ease-in-out infinite,
    1829ms spinner-rotate linear infinite;
}

.spinner .ring {
    fill: none;
    stroke: var(--ring-color);
    stroke-width: var(--ring-size);
    opacity: var(--ring-alpha);
}

@keyframes spinner-rotate {
    to {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes spinner-arc {
    from {
        stroke-dasharray: 0 150;
        stroke-dashoffset: 0;
    }
    to {
        stroke-dasharray: 100 150;
        stroke-dashoffset: -140;
    }
}

/* The libraries side bar style */
.librariesSideBar {
    position: fixed;
    margin: 5px;
    display: flex;
    flex-direction: column;
    float: left;
    border-radius: 4px;
    top: 65px;
    height: 90vh;
    width: 15vw;
    text-align: center;
    z-index: 7;
    overflow-y: auto;
    background-color: var(--libraryBG);
    backdrop-filter: blur(var(--blurpx));
    transition: width .5s ease;
}

/* context menu style */
.contextMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0;
    width: 200px;
    background-color: var(--color-bg-secondary);
    box-shadow: 0 10px 20px var(--cardCustoShadow);
    z-index: 10000;
}

/* The context menu items style*/
.contextMenu > li {
    font: inherit;
    border: 0;
    padding: 8px 36px 8px 8px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--color-bg-secondary);
}

.contextMenu > li:hover {
    background-color: var(--color-black);
}

/* The home page style*/
#home {
    margin-top: 8vh;
    margin-left: 18vw;
    transition: margin-left .5s ease;
}

/* disposition for recently added abd continue reading */
#recentlyAdded, #continueReadingHome, #toRead, #myfavoriteHome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
}

.selectLib {
    background-color: var(--line-color-transparent);
    color: var(--line-color)
}

.breadcrumb {
    font-family: 'Roboto-condensed', sans-serif;
    font-size: 18px;
    margin-left: 260px;
    cursor: pointer;
    z-index: 10;
    position: fixed;
}



#searchField {
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.78);
    z-index: 10;
    top: 80px;
    left: 30%;
    position: fixed;
    height: 40px;
    width: 45vw;
    border-radius: 5px;
    padding-left: 10px;
    color: var(--text);
    font-size: 18px;
    font-family: 'Roboto-condensed', sans-serif;
    border: 0;
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease;
}

#menuid {
    height: 40px;
    margin: 2px 0px 0px 0px;
}
.pure-material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb));
    background-color: rgb(var(--pure-material-primary-rgb));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
background-color: rgb(var(--pure-material-onsurface-rgb));
    transition: background-color 0.2s;
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb),  0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}

.pure-material-button-contained-secondary {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb-secondary));
    background-color: rgb(var(--pure-material-primary-rgb-secondary));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
}

.pure-material-button-contained-secondary::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained-secondary::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb-secondary));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained-secondary::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb-secondary));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained-secondary:hover,
.pure-material-button-contained-secondary:focus {
    background-color: rgb(var(--pure-material-onsurface-rgb-secondary));
    transition: background-color 0.2s;
}

.pure-material-button-contained-secondary:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained-secondary:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained-secondary:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained-secondary:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained-secondary:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained-secondary:disabled {
    color: rgba(var(--pure-material-onsurface-rgb-secondary), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb-secondary),  0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained-secondary:disabled::before {
    opacity: 0;
}

.pure-material-button-contained-secondary:disabled::after {
    opacity: 0;
}

select{
    width: 100%;
    height: 36px;
    border: 1px solid var(--ProgressBG);
    border-radius: 4px;
    padding: 0 16px;
    background-color: rgb(var(--color-bg-secondary));
    color: rgb(var(--color-bg-primary));
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 10px;
}

@media (max-width: 1200px) {

    /* TODO PHONE */
    #logo_id_txt {
        display: none;
        transition: display 0.3s ease;
    }

    #login_discover {
        flex-direction: column;
    }
    .cardcusto{
        max-width: 123px;
        height: 186px;
    }
    .cardcusto>.pointR{
        left:103px;
        top:-319px;
    }
    .breadcrumb{
        display: none;
    }
    #ColCover > img {
        width: 55vw;
        height: auto;
        margin-left: 20vw;
        transition: margin-left .5s ease;
    }

    #ColCover {
        position: relative;
        top: 15vh;
    }
}

#searchResults {
    position: fixed;
    top: 125px;
    width: 45vw;
    height: 80vh;
    left: 29.9vw;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.78);
    border-radius: 5px;
    box-shadow: 0 10px 20px var(--cardCustoShadow);
    z-index: 10;
    display: none;
    overflow-x: auto;
    transition: width .5s ease;
}

#searchResults > li {
    left: 0;
    font-family: 'Roboto-condensed', sans-serif;
    font-size: 16px;
    width: 100%;
    color: var(--text);
    cursor: pointer;
    padding-left: 10px;
}
.resItem{
    margin :0 0 15px 0 ;
}
#searchResults > li:hover {
    background-color: rgb(66, 79, 86);
}

#login_discover {
    padding: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    text-align: center;
}

.login_elements {
    cursor: pointer;
}

.login_elements > h3 {
    font-size: 30px;
    font-family: 'Roboto-condensed', sans-serif;
}

.login_elements > img {
    width: 200px;
}

.profile_image {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    border-radius: 10%;
}

#ThePassToWord, #TheUserName, #servName, #ThePassToWor {
    background-color: var(--cardCustoShadow);
    height: 40px;
    width: 465px;
    border-radius: 5px;
    padding-left: 10px;
    color: var(--text);
    font-size: 18px;
    font-family: 'Roboto-condensed', sans-serif;
    border: 0;
    outline: none;
    box-shadow: none;
}

#createAccount {
    background-color: rgba(28, 28, 28, 0.97);
    /*center vertically*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*center horizontally*/
    position: fixed;
    top: 100px;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: 100;
}

#icon_id_accountSystem {
    width: 40px;
    height: 40px;
}

#newImage {
    border: solid #157347 5px;
    transition: border .3s;
}

.scrollBtnL {
    background-color: transparent;
    color: whitesmoke;
    position: absolute;
    right: 80px;
}

.scrollBtnR {
    background-color: transparent;
    color: whitesmoke;
    position: absolute;
    right: 40px;
}

.desc_CC {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    width: 75vw;
    height: 30vh;
    top: 200px;
    animation: fadeIn 0.5s ease-in-out;
    transition: all 0.3s;
    border-radius: 5px;
}

.img-relation {
    width: 50%;
    height: 50%;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 99%
    }
    50% {
        background-position: 100% 2%
    }
    100% {
        background-position: 0% 99%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 99%
    }
    50% {
        background-position: 100% 2%
    }
    100% {
        background-position: 0% 99%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 99%
    }
    50% {
        background-position: 100% 2%
    }
    100% {
        background-position: 0% 99%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 99%
    }
    50% {
        background-position: 100% 2%
    }
    100% {
        background-position: 0% 99%
    }
}

::selection {
    background-color: var(--line-color);
    color: var(--text);
}

.libLogo{
    width: 25px;
    float: left;
    line-height: 1;

}