[Desktop Entry]
Type=Application
Name=Cosmic Comics
Comment=Comics and manga reader and collection manager
Icon=fr.nytuo.cosmiccomics
Exec=cosmiccomics
Categories=Graphics;Viewer;
