<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Cosmic Comics connects to your Jellyfin server and to your other devices running Cosmic Comics on your local network to browse, download and sync your books.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_cosmiccomics._tcp</string>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
</dict>
</plist>
