/*This file is part of Cosmic-comics.

Cosmic-Comics is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Cosmic-Comics is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Cosmic-Comics.  If not, see <https://www.gnu.org/licenses/>.*/
:root {
    --squarePP: 7vw;
    --text: #ffff;
    --color-bg-primary: #d0d6df;
    --color-bg-primary-offset: #f1f3f7;
    --color-bg-secondary: #262626;
    --color-text-primary: #3a3c42;
    --color-text-primary-offset: #898c94;
    --color-orange: #dc9960;
    --color-green: #1eb8b1;
    --color-purple: #657cc4;
    --color-black: var(--color-text-primary);
    --color-red: #d92027;
    --spinner-size: 5;
    --line-color: #2e53ed;
    --line-alpha: 1;
    --ring-color: #000000;
    --ring-alpha: 0;
    --ring-size: 4;
    --libHover: rgba(0, 0, 0, .1);
    --averageScore: 0;
    --layer: rgba(0, 0, 0, .6);
    --sideBar: #404040;
    --cardCustoShadow: rgba(0, 0, 0, 0.3);
    --cardCustoShadowHover: rgba(0, 0, 0, 0.6);
    --ratingBG: #555;
    --snackBarTrack: #292929;
    --snackBarThumb: #181818;
    --snackBarThumbHover: #212121;
    --ProgressBG: #343035;
    --ProgressFG: #2e52eb;
    --background: linear-gradient(to top left, #570000, #ad0000) no-repeat fixed;
    --overlayBG: rgba(0, 0, 0, 0);
    --overlay2BG: transparent;
    --libraryBG: rgba(0, 0, 0, .4);
    --font: "Roboto", sans-serif;
    --HTMLBGSize: cover;
    --topBtnHover: rgb(41, 41, 41);
    --ratingColor: rgb(255, 191, 0);
    --saveActivedColor :rgb(255, 0, 0);
    --DisabledColor :rgba(255, 255, 255, 0.6);
    --cardImageColor : rgba(0,0,0,0.753);
    --BGDetails : #1a1e21

}
